extends ../_templates/main/main

include ../../core/init/init

block css
    +css("main.css")
    +css("uikit.css")
block title 
    | index.html
block body 
    +b_page()
    +js('vendors.js')
    +js('main.js')  
    +js('uikit.js')