extends ../_templates/main/main

include ../../core/init

block css
    +css("main.css")
    +css("index.css")
block title 
    | index.html
block body 
    +page()
        +header()
            +page-container('header-container')
                +logo()
                +search()
                    +input()
                    +button('searchButton')
                +avatar()

    +js('vendors.js')
    +js('main.js')  
    +js('index.js')