extends ../_templates/main/main

include ../../core/init/init

block css
    +css("main.css")
    +css("index.css")
block title 
    | index.html
block body 
    +page()
        
    +js('vendors.js')
    +js('main.js')  
    +js('index.js')