include pug/mixins

include blocks/page/page
include blocks/header/header
include blocks/main/main
include blocks/footer/footer

include blocks/logo/logo
include blocks/menu/menu
include blocks/skills/skills
include blocks/about/about
include blocks/login/login
include blocks/search/search
include blocks/input/input
include blocks/button/button