include pug/mixins

include blocks/page/page
include blocks/header/header

include blocks/logo/logo
include blocks/search/search
include blocks/input/input
include blocks/button/button
include blocks/avatar/avatar