mixin menu(mixinClass)
    - var mixinClass = mixinClass?' ' + mixinClass:'';

    nav(class=`menu${mixinClass}`)
        a(class="menu-link" href="#") Главная
        a(class="menu-link" href="#") Новости
        a(class="menu-link" href="#") Обо мне